#root {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: rgb(168, 17, 17);
  color: #fff;
  display: flex;
  align-items: center;
}

header > img {
  width: 120px;
  margin: 10px;
  margin-right: 20px;
}

header > div > h1 {
  font-style: italic;
}

.grid-filmes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 12px;
  padding: 10px;
}

.grid-item {
  display: flex;
  border: 2px solid #4d4c4c;
  border-radius: 8px;
  padding: 10px;
}

.grid-item > img {
  width: 200px;
  height: 300px;
  margin-right: 10px;
}

.grid-item > div > img {
  width: 150px;
}

.genero-duracao {
  font-weight: bold;
}

.sinopse {
  font-size: small;
  text-align: justify;
}

.remover-btn {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.h2-btn {
  display: flex;
  justify-content: space-between;
}

.h2-btn > button {
  background-color: #00f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  padding: 0 30px;
}

#modal-titulo {
  padding: 15px 0;
  font-family: Helvetica, Arial, sans-serif;
}

form {
  width: 550px;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 90px;
}

input[type="text"], input[type="number"], input[type="url"] {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 400px;
}

textarea {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 400px;
}

input[type="submit"], [type="reset"] {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: blueviolet;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input[type="reset"] {
  background-color: red;
}

.form-btn {
  display: flex;
  justify-content: end;
}
